#content {
	position: absolute;
	z-index: 2;
	width: 50%;
	top: 90%;
	margin-left: 25%;
    padding: 10px;
}
a {
	text-decoration: none;
	color: yellow;
}
a:hover {
	color: 	#A67C00;
}
#print_form {
	color: yellow;
}
#print_form:hover {
	color: 	#A67C00;
	cursor: pointer;
}
#footer {
    position: relative;
    left: 0;
    right: 0;
    height: 200px;
    width: 100%;
}
#signature {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 8px
}
#form {
	position: absolute;
	width: 300px;
	left: -20px;
}
.form_item {
    padding: 12px 20px;
    margin: 3px 0px 3px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-size: 18px;
	width: 100%;
}
.form_item_mobile {
	display: inline-block;
    padding: 12px;
    margin: 3px auto 3px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-size: 12px;
}
#form_submit {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	font-size: 18px;
}
#form_submit_mobile {
    background-color: #4CAF50;
    color: white;
    // border: none;
    border-radius: 4px;
    cursor: pointer;
	// font-size: 14px;
	// text-align: center;
	width: 30%;
}
#email_mobile {
	width: 70%;
}
#form_submit:hover {
	background-color: #4CfF00;
	color: black;
}
body {
	font-family: Arial;
	color: white;
	font-size: 20px;
	background-color: #960000;
	height: 100%;
}
h2 {
	margin-left:25px;
	font-family: cursive;
	color: #00f9ff;
}
h3 {
	margin-left:15px;
	font-family: cursive;
	color: #00f9ff;
}
.body_item {
	display: block;
}
#we_are {
	text-align: center;
	font-size: 14px;
}
#map {
	top: 20%;
	height: 70%;
	right: 30%;
	z-index: 0;
	padding-right: 50px;
}
#map_mobile {
	top: 50px;
	margin: 10px;
}
#umnaBounds {
	height: 100%;
}
#umnaBounds_mobile {
	text-align: center;
	max-width: 500px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#welcome_mat {
	left: 0;
	top: 0;
	bottom: 10%;
	width: 100%;
}
#welcome {
	font-family: cursvie;
	margin-left: 4%;
	z-index: 2;
	margin-top: 5%;
}
#welcome_mobile {
	font-family: cursvie;
	width: 100%;
	text-align: center;
	margin: 0;
	left: 0;
	z-index: 2;
	margin-top: 2%;
}
.welcome_mat_item {
	position: absolute;
}
.welcome_mat_item_mobile {
	margin: 0;
	display: block;
	margin-bottom: 15px;
}
#intro {
	left:75%;
	top: 20%;
	width: 200px;
	z-index: 1;
	text-align: right;
	padding: 20px;
}
.page_item {
	display: block;
	z-index: 1;
}
#buttons {
	position: absolute;
	bottom: 15%;
	right: 100px;
	z-index: 2;
}
#buttons_mobile {
	margin: 0;
	width: 100%;
	left: 0;
	z-index: 2;
}
.button {
	display: inline-block;
	text-align: center;
	height: 45px;
	width: 170px;
	border: 2px solid white;
	border-radius: 4px;
	margin: 2px;
	background-color: #A67C00;
	bottom: 0;
	color: white;
	cursor: pointer;
}
.button_mobile {
	display: inline-block;
	text-align: center;
	height: 45px;
	width: 33.333%;
	border: 2px solid white;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 0;
	background-color: #A67C00;
	bottom: 0;
	color: white;
	cursor: pointer;
}
.button:hover {
	background-color: #f00;
	border: 2px solid black;
	color: white;
}
.button p {
	margin-top: 12px;
}
.button_mobile p {
	font-size: 14px;
	margin-top: 14px;
}
#list {
	list-style-type: none;
    margin: 0;
    margin-top:15px;
    padding: 0;
    max-width: 630px;
    margin-left:auto;
    margin-right: auto;
}
.list_item_link {
	font-size: 12px;
}
.text_mobile {
	display: block;
	font-size: 14px;
	width: 100%;
}
.home_mobile {
	font-size: 14px;
}
